*{
    margin: 0;
    padding: 0;
}


/*CSS NAVEGADOR*/

.nav-logo{
    width: 180px;
    height: auto;
    padding-left: 20px;
}

.nav-color{
    background: rgb(61, 55, 237);
    background: linear-gradient(0deg, rgba(61, 55, 237, 1) 0%, rgba(9, 0, 137, 1) 49%);
}

.nav-list{
    list-style: none;
    display: inline;
    padding-top: 15px ;
    padding-right: 50px ;
}

.nav-list li{
    display: inline-block;
    padding-left: 20px;
    font-family: 'Readex Pro', sans-serif;   
}

.nav-list a{
    text-decoration: none;
    color: #add5f7;
    text-shadow: 2px 2px 2px black; 
}

.nav-list li:hover{
    transform: scale(1.2);
}


/*FIN CSS NAVEGADOR*/

/*CSS MAIN*/

.background-page{
    background-image: url(imagenes/fondo-agua.jpg);
}

.main-div{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1;
    grid-template-rows: 2fr 2fr;
}

/*CARRUSEL*/

.carrusel-size{
    width: 100%;
}

.image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carusel-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: yellow;
    text-shadow: 2px 2px 2px black;
}

/*TEXTO BIENVENIDA*/

.main-text{
    background-color: rgba(173, 213, 247, 0.8);
    
}

.index-text h1{
    font-size: 80px;
    font-family: 'Barlow Condensed', sans-serif; 
    font-style: italic; 
    color: white;
    text-shadow: 2px 2px 2px black;
    padding-left: 50px;
}


.index-text p{
    text-align: center;
    font-size: 30px;
    font-family: 'Readex Pro', sans-serif;
    text-shadow: 1px 1px 1px white;
}

/*CSS FOOTER*/


    /*CONTENIDO DEL FOOTER*/
    .footer-container{
        display: grid;
        background-color: #0060CA; 
        font-family: 'Readex Pro', sans-serif;
        color: rgb(208, 229, 233);
        grid-template-columns: 1fr 1fr;
    
    }
    
            /*SECCION DE CONTACTOS*/
    .footer-contact{
        display: inline-block;
    }
    
    .footer-contact h3{
       margin-left: 30px;
    }
    
    .footer-contact img {
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }
    
            /*SECCION DE REDES SOCIALES*/
    .footer-socialmedia{
        display: inline-block;  
        padding-right: 25%; 
    }
    
    .footer-socialmedia h3{
        margin-left: 20px;
    }
    
    .footer-socialmedia li{
        list-style: none;  
        margin-left: 30px; 
    }
    
    .footer-socialmedia img{
        margin-right: 10px;
        width: 25px;
        height: 25px;
    }

/*CSS PRODUCTOS*/

    .products-body{
        display: grid;
        background-color: rgba(173, 213, 247, 0.8);
        margin-left: 10%;
        margin-right: 10%;
        grid-template-rows: 0.5 repeat(3, 1fr);
        gap: 20px;
    }

    .body-header{

        grid-column-start: 1fr;
    }
    
    .body-header h1 {
    
        font-size: 80px;
        font-family: 'Barlow Condensed', sans-serif;
        font-style: italic;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px black;
    }
    
    .body-header p {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        font-family: 'Readex Pro', sans-serif;
        text-shadow: 1px 1px 1px white;
    }
    
    .products-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .products-text{
        align-self: center;
        padding: 50px;
        
    }
    
    .products-text h2{
        font-family: 'Permanent Marker', cursive; 
        font-style: italic;
        font-size: 60px;
        color: yellow;
        text-shadow: 2px 2px 2px black;
    }
    
    .products-text p{
        font-size: 35px;
        font-family: 'Readex Pro', sans-serif;
        color: black;
        text-shadow: 0.5px 0.5px 0.5px white;
    }
    
    .invert{
        order: -1;
    }

    .img-container{
        margin: 15% 15% 15% 15%;
        justify-items: center;
    }
    
    .products-img {
        width: 100%;
        justify-content: center;
        object-fit: cover;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 16px 16px rgba(0,0,0,0), 5px 5px 16px 16px rgba(0,0,0,0.26); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 16px 16px rgba(0,0,0,0), 5px 5px 16px 16px rgba(0,0,0,0.26);
    
    }


/*MEDIA QUERIES*/

@media screen and ( max-width: 991px){

    .nav-list{
        display: flex;
        justify-content: space-around;
    }

    .main-div{
        margin-left: 0%;
        margin-right: 0%;
    }

    .index-text h1{
        padding-left: 0%;
        text-align: center;
        font-size: 70px;
    }

    .index-text p{
        font-size: 25px;
    }

/*PRODUCTOS*/

    .products-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .body-header{
        grid-column-end: span 2;
    }

    .body-header h1{
        font-size: 60px;
    }

    .body-header p{
        font-size: 30px;
    }

    .products-container{
        display: flex;
        flex-direction: column;
    }

    .img-container{
        margin: 10% 10% 10% 10%;
    }

    .products-text h2{
        font-size: 30px;
    }

    .products-text p{
        font-size: 15px;
    }

    .invert{
        order: 1;
    }

}

@media screen and (max-width: 480px){

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo{
        justify-self: center;
    }
    
    .main-div{
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .index-text h1{
        padding-left: 0%;
        text-align: center;
        font-size: 50px;
    }

    .index-text p{
        font-size: 20px;
    }


    .footer-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer-contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-contact h2{
        font-size: 20px;
        text-align: center;
    }

    .footer-contact h3{
        font-size: 15px;
    }
    
    .footer-contact img {
        width: 25px;
        height: 25px;
    }

    .footer-socialmedia{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0%;
    }


    .footer-socialmedia h2{
        display: none;
    }

    .footer-socialmedia h3{
        text-align: center;
    }

    /*PRODUCTOS*/

    .products-body{
        display: flex;
        flex-direction: column;
    }

    .products-container{
        display: inline-block;
    }

    .body-header h1{
        font-size: 50px;
    }

    .body-header p{
        font-size: 15px ;
    }

    .products-text h2{
        font-size: 30px;
    }

    .products-text p{
        display: none;
    }

}
